<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./Styles.css">
    <title>Layout</title>
</head>
<body>
    <main class="caja-main">
        <header>
            <h1>CAJA DE HERRAMIENTAS</h1>
        </header>
        <div class="caja-secundaria">
            <section class="contenido-secundario">
                <h1>
                    CONTENIDO <br>
                    SECUNDARIO <br>
                </h1>
            </section>
            <section class="caja-main2">
                <section class="barra">
                    <h1>SUB BARRA DE HERRAMIENTAS</h1>
                </section>
                <section class="caja-main3">
                </section>
            </section>
        </div>
    </main>
</body>
</html>